<body>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">시지외대영어입시학원</h5>
          <p class="grey-text text-lighten-4">We are a team of specialized teachers for high school students. We always try to teach you with very high quality and study for English alone. We step forward for your improvement in English study and we can help you achieve your goals.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">오시는 길</h5>
          <h6 class="white-text"> 대구 수성구 고산로 96,4층 (신매동)</h6>
        </div>
        <div class="col l3 s12">
           <h5 class="white-text">연락처</h5>
           <h6 class="white-text">053-794-7974</h6>
           <h6 class="white-text">053-795-7975</h6>
           <h5 class="white-text">FAX</h5>
           <h6 class="white-text">053-795-7199</h6>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="#">최지혜</a>
      </div>
    </div>
  </footer>
</body>