<%= render :partial =>"home/basic"%>

 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
        <div class="card-panel teal lighten-2" style="font-size: 20px">
          <i class="material-icons" style="font-size:30px">today</i>
          숙제작성은 강사이외에 절대터치하지않도록합니다! 개발중이기에, 학생들은 알림장 확인만하면됩니다~! 혹시라도 숙제작성란에 올리게되면, 발각시 그에 따른 조치를취하겠습니다!</div>
          
          <br><br>
        <div class="collection">
          <a href="/home/h730" class="collection-item">H730<span class="new badge">4</span></a>
          <a href="/home/h735" class="collection-item">H735<span class="new badge">4</span></a>
          <a href="/home/h727" class="collection-item">H727<span class="new badge">4</span></a>
          <a href="/home/h738" class="collection-item">H738<span class="new badge">4</span></a>
          <a href="/home/h725" class="collection-item">H725<span class="new badge">4</span></a>
          <a href="/home/h500" class="collection-item">H500<span class="new badge">4</span></a>
          <a href="/home/three" class="collection-item">H510<span class="new badge">1</span></a>
          <a href="/home/h339" class="collection-item">H339<span class="new badge">4</span></a>
        </div>
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br>
  
<%= render :partial =>"home/down"%>