<%= render :partial =>"home/basic"%>

 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
        <div class="card-panel teal lighten-2" style="font-size: 20px">
          <i class="material-icons" style="font-size:30px">today</i>
          새로운 숙제가 올라왔습니다.</div>
          
          <br><br>
        <div class="collection">
          <a href="/home/three" class="collection-item">고3<span class="new badge">1</span></a>
          <a href="#!" class="collection-item">고2<span class="new badge">4</span></a>
          <a href="#!" class="collection-item">고1</a>
        </div>
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br>
  
<%= render :partial =>"home/down"%>