<%= render :partial =>"home/basic"%>

 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
        <div class="card-panel teal lighten-2" style="font-size: 20px">
          <i class="material-icons" style="font-size:30px">today</i>
          If  you don't walk today, you will have to run tomorrow.</div>
          
          <br><br>
        <div class="collection">
          <a href="/home/h100" class="collection-item">H100</a>
          <a href="/home/h110" class="collection-item">H110</a>
          <a href="/home/h120" class="collection-item">H120</a>
          <a href="/home/h130" class="collection-item">H130</a>
          <a href="/home/h150" class="collection-item">H150</a>
          <a href="/home/h200" class="collection-item">H200</a>
          <a href="/home/h201" class="collection-item">H201</a>
          <a href="/home/h727" class="collection-item">H220</a>
          <a href="/home/h738" class="collection-item">H230</a>
          <a href="/home/h339" class="collection-item">H300</a>
          <a href="/home/h301" class="collection-item">H301</a> 
          <a href="/home/h500" class="collection-item">H500</a>
          <a href="/home/h510" class="collection-item">H510</a>
          <a href="/home/h735" class="collection-item">H735</a>
          <a href="/home/h725" class="collection-item">H725</a>
        </div>
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br>
  
<%= render :partial =>"home/down"%>