<%= render :partial =>"home/basic"%>

 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
        <div class="card-panel teal lighten-2" style="font-size: 20px">
          <i class="material-icons" style="font-size:30px">today</i>
          새로운 숙제가 올라왔습니다.</div>
          
          <br><br>
        <div class="collection">
          <a href="/home/h730" class="collection-item">H730<span class="new badge">4</span></a>
          <a href="/home/h735" class="collection-item">H735<span class="new badge">4</span></a>
          <a href="/home/h727" class="collection-item">H727<span class="new badge">4</span></a>
          <a href="/home/h738" class="collection-item">H738<span class="new badge">4</span></a>
          <a href="/home/h725" class="collection-item">H725<span class="new badge">4</span></a>
          <a href="/home/h500" class="collection-item">H500<span class="new badge">4</span></a>
          <a href="/home/three" class="collection-item">H510<span class="new badge">1</span></a>
          <a href="/home/h339" class="collection-item">H339<span class="new badge">4</span></a>
        </div>
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br>
  
<%= render :partial =>"home/down"%>