<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/home/index" class="brand-logo">시지외대영어</a>
      <ul class="right hide-on-med-and-down">
         <li><a href="/home/announce">공지사항</a></li>
        <li><a href="/home/homework">숙제</a></li>
         <li><a href="/home/login">로그인</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/home/announce">공지사항</a></li>
        <li><a href="/home/homework">숙제</a></li>
        <li><a href="/home/login">로그인</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Step Forward !</h1>
      <div class="row center">
        <h5 class="header col s12 light">시지외대입시영어학원만의 차별화된 강사와 가장 앞선 영어학습을 경험하세요.</h5>
      </div>
      <div class="row center">
        <a href="/home/asking" id="download-button" class="btn-large waves-effect waves-light orange">상담신청하기</a>
      </div>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">STEP 01</h5>

            <p class="light">진짜 영어를 알려줍니다.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">STEP 02</h5>

            <p class="light">내신과 수능 두마리를 한꺼번에</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">STEP 03</h5>

            <p class="light">영어를 통해 학생들의 꿈을 향하여 한층 더 도약할 수 있도록 지도합니다.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

 <%= render :partial =>"home/down"%>
   <!--  Scripts-->
 <script> $(".button-collapse").sideNav();</script>
 
  </body>
