/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .collection a.collection-item{
    color: #000 !important;
}

span.badge.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #ff9800 !important;
    border-radius: 2px;
}


/* pagination css*/
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
    
    
    /* 숙제 css */
    /* sassy buttons normally */
/* Typography */

html {
  font-size: 87.5%;
  line-height: 1.64286em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #666;
}

h1 {
  font-size: 3.28571em;
  line-height: 1.5em;
}

h2 {
  font-size: 2.42857em;
  line-height: 1.35294em;
}

h3 {
  font-size: 1.57143em;
  line-height: 2.09091em;
}

h4 {
  font-size: 1.35714em;
  line-height: 1.21053em;
}

h5 {
  font-size: 1.14286em;
  line-height: 1.4375em;
}

h6 {
  font-size: 1em;
  line-height: 1.64286em;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood.png");
  font-weight: 400;
  color: #333;
  margin-top: 2em;
}

.page {
  width: 760px;
  /* for now */
  margin: 0 auto;
}

.post {
  background: #eee;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.57143em;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #ccc;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0;
}

h2 a {
  text-decoration: none;
  color: #666;
}

/* Metadata */
.post-meta {
  font-size: 1em;
  line-height: 1.64286em;
  text-align: right;
}

.post-meta ul {
  list-style: none;
}

.post-meta li {
  display: inline-block;
  margin-left: 1em;
  color: #777;
}

.post-meta a {
  color: #777;
  text-decoration: none;
}

.post-meta a:hover {
  color: #333;
}

/* Comments bubble */
a.post-comments {
  position: relative;
  float: right;
  top: 20px;
  text-decoration: none;
  font-size: 2em;
  color: #ccc;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

a.post-comments:hover {
  color: #555;
}




.widthWrapper img {
  border:none;
}

/* Global Styles */ 
.widthWrapper body {
  line-height: 1.55;
  font-size: 100%;
  font-weight: 400;
  font-family: helvetica, arial, sans-serif;
}

.widthWrapper h1,h2,h3,h4,h5,h6 {}
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.55em;
  padding-bottom: .35em;
}

.widthWrapper a {
  text-decoration: none;
  font-weight: bold;
  font-weight: 400;
}

.widthWrapper {
  max-width: 750px;
  margin: 0 auto;
}

/* Post Index */
#postIndex {
  margin: 3em auto;
}

article {
  margin-top: -0.063em;
}

article a {
  display: block;
  padding: 2.374em 2.5em 2.5em 2.5em;
  overflow: hidden;
  border-top: .063em solid #ccc;
  border-bottom: .063em solid #ccc;
}

article a:hover {
  background: #eee;
  border-top: #666 solid .25em;
  padding: 2.187em 2.5em 2.5em 2.5em;
}

.postImg {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding-right: 2em;
}

.postImg img {
  width: 100%;
}

article a h2 {
  color: #222;
  float: right; 
  width: 75%;
}

article a:hover h2 {
  color: #157EBF;
}

article a p {
  color: #444;
  float: right; 
  width: 75%;
}

article a:hover p {
  color: #222;
}

@media only screen and (max-width: 750px) {
  #postIndex {
    width: 100%;
  }

  article a {
    padding: 2.374em 1.5em 2.5em 1.5em;
  }

  article a:hover {
    padding: 2.187em 1.5em 2.5em 1.5em;
  }
}


  article a p, article a h2 {
    width: 100%;
  }

}